*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto;
    /* max-width: 1000px; */
    overflow: auto;
    padding: 0 20px;
}

#topbar .container {
    background: rgba(22, 11, 11, 0.602);
    overflow: auto;

    display: flex;
    justify-content: center;
}

#logo {
    margin-right: 500px;
}

#navbar {
    max-width: 1200px;
}

#topbar a {
    color: rgb(223, 223, 223);
    font-size: 125%;
}

#topbar h1 {
    float: left;
    padding-top: 20px;
}

#topbar ul {
    list-style: none;
    float: right;
}

#topbar ul li {
    float: left;
}

#topbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#showcase {
    height: 500px;
    background: #333;

    background: url(../img/showcase.webp) no-repeat;
    background-size: cover;
    background-position: center;

    margin-bottom: 40px;
}