* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border: none;
}

h1, h2, h3, a {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 1.07rem;
}

a {
    text-decoration: none;
}

body {
    font-family: Lato,sans-serif;
    font-size: 16px;
    color: #333;
    background-color: rgb(245, 245, 245);
    font-weight: 400;
}

.fill-1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;

    overflow: auto;
}

.bar {
    max-width: 1400px;
    height: 1.5px;
    margin: auto;
    background: #b9b9b9;

    margin-bottom: 30px;
}

#topnav {
    font-size: 18px;
    height: 58px;
    border-bottom: 2px solid rgb(206, 203, 203);
    background-color: rgb(255, 255, 255);
    position: relative;

    display: flex;
    align-items: stretch;
}

.top-rel {
    position: relative;
}

#topnav .main-container {
    display: flex;
    align-items: stretch;
}

@media (min-width: 1280px) {
    #topnav .main-container {
        max-width: 1280px;
    }
}

#topnav .main-container:last-child {
    margin-left: auto;
}

.top-element {
    position: unset;
    line-height: 50px;
}

#topnav .logo-element .logo-img {
    width: 210px;
    height: 46px;
}

.navigation-drawer {
    display: flex;
    justify-content: center;
    padding-left: 45px;
}

.nav-list {
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-list li {
    padding-left: 15px;
    display: inline-block;
}

.nav-listItem .nav_menu .nav_menu-text {
    padding: 0px 8px;
    display: block;
    color: rgb(51, 51, 51);
}

.nav_menu:hover, .nav_menu.current  {
    border-bottom: 3px solid rgb(145, 196, 243);
}

.login-signup {
    display: flex;
    margin-left: auto;
    width: 200px;
}

.login-signup .top-rel {
    display: flex; 
}

.login-signup .nav_menu {
    padding: 0px 10px;
}

.login-signup div a {
    text-align: center;
    color: rgb(51, 51, 51);
}

.login-button a {
    color: rgb(51, 51, 51);
}

.signup-button div {
    background-color: rgb(67, 95, 131);
    border-radius: 30px;
}

.signup-button div a {
    color: #fff;
    padding: 0px 12px;
}

.welcome-card {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-bottom: 60px;
    height: 450px;
    background: url(../img/banner-preview.webp);
    background-position: center;
}

.welcome-card .welcome-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    padding: 25px 35px;
    background-color: rgba(17, 17, 17, 0.6);
    color: #fff;
}

.welcome-card .welcome-box p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.welcome-card .preview-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.preview-image img {
    object-position: center bottom;
}

.preview-image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.primary-home {
    position: relative;
}

.primary-home .primary-home-container {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.primary-home .primary-home-container h2 {
    margin-bottom: 50px;
}

.explore-list {
    display: flex;
    justify-content: center;

    margin-bottom: 60px;
}

.explore-list .explore-listing-item {
    width: 25%;
    padding: 0px 10px;
}

.explore-list .explore-listing-item h3 {
    color: rgb(17, 17, 17);
    padding-top: 20px;
}

.explore-listing-item .list-body .list-body-info {
    color: rgb(39, 39, 39);
    padding: 10px 0px;
    padding-bottom: 30px;
}

.explore-listing-item .list-body .list-body-info p {
    line-height: 1.5;
}

.explore-listing-item .list-body {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    border: 2px solid transparent;
}

.explore-listing-item .list-media {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border: 2px solid transparent;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-listing-item a:hover .list-body {
    border: 2px solid rgb(7, 99, 153);
    border-top: 0;
}

.explore-listing-item a:hover .list-media {
    border: 2px solid rgb(7, 99, 153);
    border-bottom: 0;
}

#new-icon {
    width: 90%;
    height: 85%;
    text-align: left;
}

#new-icon span {
    padding: 10px 20px;
    background-color: rgba(31, 169, 233, 0.924);
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

#list-1-img {
    background-image: url(../img/list-1.jpg);
}

#list-2-img {
    background-image: url(../img/list-2.png);
}

#list-3-img {
    background-image: url(../img/list-3.jpg);
}

#list-4-img {
    background-image: url(../img/list-4.jpg);
}

#explore-more-button {
    text-align: center;
}

#explore-more-button a {
    padding: 20px 30px;
    font-size: 1.4rem;
    border-radius: 13px;
    color: #fff;
    background-color: rgb(57, 140, 189);
}

.home-widget {
    width: 90%;
    margin: auto;
}

.home-widget .header {
    padding-bottom: 30px;
}

.home-widget .header h2 {
    margin-bottom: 15px;
}

.home-widget .header p {
    text-align: center;
    font-size: 1.6rem;
}

.home-widget .main-widgets .main-widget-item {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-widgets {
    margin-bottom: 60px;
}

.main-widget-item .widget-content {
    background-color: rgb(238, 238, 238);
    width: 50%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main-widget-item .widget-content h2 {
    text-align: left;
    width: 70%;
}

.main-widget-item .widget-content p {
    padding: 20px 0px;
    width: 70%;
    font-size: 1.55rem;
    line-height: 1.5;
}

.main-widget-item .widget-media {
    width: 50%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#widget-1-img {
    background-image: url(../img/widget-img-1.jpg);   
}

#widget-2-img {
    background-image: url(../img/widget-img-2.jpg);   
}

#widget-3-img {
    background-image: url(../img/widget-img-3.webp);   
}

footer .main-container {
    display: flex;
    justify-content: center;    

    color: #fff;
    background-color: rgb(59, 62, 65);

    border-top: 5px solid #b9b9b9;
}

footer .main-container h2 {
    font-size: 2rem;
}

footer .main-container h3 {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer .main-container div {
    padding: 30px 0px;
}

footer .main-container .bar {
    width: 100px;
    padding: 1.5px 0px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 4px 0px;
    text-align: center;
}

footer ul li a {
    
    color: #fff;
}