* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #978c79;;
}

h1, h2, h3, a {
    text-align: center; 
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Parisienne', sans-serif;
    color: #ffdfa7;
    font-size: 3.2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 95%;
    /* max-width: 1700px; */
    margin: auto;
}

.bar {
    height: 20px;
    border-top: 2px solid #3a2f25;
    border-bottom: 2px solid #3a2f25;
    background-color: #4e4335;
}

#logo {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 400px;
    height: 280px;
    /* margin:  */
    margin-top: -75px;
    margin-bottom: -75px;
    /* margin-right: 100px; */
}

#locations {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 260px;
    text-align: right;
    border: 0;
}

#locations .icon {
    color: rgb(82, 70, 39);
    width: 30px;
    font-size: 25px;
    background: url(../images/icon--location--sprite.svg) no-repeat 0 0;
}

#locations a {
    color: rgb(82, 70, 39);
    font-size: 1.3em;
    line-height: 1em;
    text-transform: uppercase;
}

#locations a:hover {
    color: rgb(129, 111, 66);
}

#locations button {
    padding: 10px;
    font-size: 1.125em;
    line-height: 1em;
    text-transform: uppercase;
}

.header-primary {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    background-color: #ecd1a0;

    border-bottom: 2px solid #3a2f25;
}

.header-primary .container {
    max-width: 1800px;
}

.header-primary .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-primary .nav-menu li {
    display: inline-block;
}

.header-primary .nav-menu li a {
    font-family: 'Parisienne', sans-serif;
    font-weight: bold;
    color: rgb(83, 66, 9);
    position: relative;
    font-size: 1.6rem;
    padding: 0px 1.2em;
}

.header-primary .nav-menu li a:hover,
.header-primary .nav-menu li a.current {
    color: rgb(129, 111, 66);
    text-decoration: underline;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-size: cover;
    background-position: center;
}

.banner .container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#home-banner {
    background: linear-gradient(to bottom, rgba(60, 60, 60, 0.7) 0%,rgba(100, 100, 100, 0.7) 100%), url(../img/showcase-banner.jpg) no-repeat center center/cover;
    height: 650px;
}

#menus-banner {
    background: linear-gradient(to bottom, rgba(60, 60, 60, 0.7) 0%,rgba(100, 100, 100, 0.7) 100%), url(../img/showcase-banner.jpg) no-repeat center center/cover;
    height: 400px;
}

#home-banner h1 {
    margin-bottom: 40px;
}

#menus-banner h1 {
    margin-top: 60px;
}

#explore-button {
    text-align: center;
}

#explore-button a {
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    background-color: rgba(63, 56, 54, 0.8);
    border-radius: 10px;
}

#explore-button a:hover {
    background-color: rgba(124, 107, 102, 0.8);
}

#home-container .container {
    width: 100%;
}

#home-container .container h1 {
    color: #38342f;
}

#home-container .container p {
    color: #201e1b;
    line-height: 2;
}

#home-container .home-content {
    padding: 30px 0px;
    width: 50%; 
}

#home-container .home-content h1 {
    padding: 25px 0px;
}

#home-container .home-content p {
    padding: 0px 50px;
    padding-bottom: 30px;
}

#home-container .home-media {
    width: 50%;
}

#home-container .home-media .media-img {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-container .home-content .home-more-link {
    text-align: center;
    padding-bottom: 50px;
}

#home-container .home-content .home-more-link a {
    padding: 15px 25px;
    border-radius: 15px;
    color: #d6d6d6;
    background-color: #38342f;
}

#home-container .home-content .home-more-link a:hover {
    background-color: #7c6b66
}

#about-home-img {
    background: url(../img/about-home.jpg);
}

#menus-home-img {
    background: url(../img/menus-home.jpeg);
}

#contact-home-img {
    background: url(../img/contact-menu.jpg);
    background-position: right;
}

#menus-container {
    padding: 70px 0px;
    background: linear-gradient(to bottom, rgba(41, 41, 41, 0.8) 0%,rgba(41, 41, 41, 0.8) 100%), url(../img/menu-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#menus-container .container {
    display: block;
    padding: 50px 0px;
    max-width: 1000px;
}

#menus-container .container h1 {
    font-family: 'Great Vibes', cursive;

    border-bottom: 1px solid bisque;

    font-size: 4.5rem;
    margin-bottom: 15px;
}

.menus-items {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.menus-items article { 
    padding: 10px 0px;
}

.menus-items p {
    color: #e9e4de;
    font-size: 1.5rem;
}

#about-container {
    padding: 70px 0px;
    /* background: linear-gradient(to bottom, rgba(41, 41, 41, 0.8) 0%,rgba(41, 41, 41, 0.8) 100%), url(../img/menu-banner.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}

#about-container .container {
    max-width: 1200px;
    height: 400px;
    padding: 50px 0px;
}

#about-container .about-content {
    width: 50%;
    float: left;
}

#about-container .about-media {
    width: 45%;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #38342f;
}

#about-container .about-content p {
    color: #201e1b;
    line-height: 1.5;
    font-size: 1.3rem;
}

#about-1-img {
    background-image: url(../img/about-1.jpg);
}

footer .container {
    width: 100%;
    height: 200px;
    background-color: #38342f;
    align-items: center;
    justify-content: center;
}

footer .container:last-child {
    border-top: 2px solid #3a2f25;
    background-color: #4e4335;
    height: 50px;
}

footer p{
    color: rgb(219, 219, 219);
}

#footer-cards {
    display: flex;
}

footer .foot-card {
    width: 50%;
    text-align: center;
    padding: 0px 70px;
}

footer .foot-card h3 {
    color: #e2e1e1;
    margin-bottom: 10px;
}

footer .foot-card p {
    padding: 5px 0px;
    color: #d6d6d6;
}